<div class="wrapper">
  <div class="main-content-materia">
    <div class="header-home-materia">
      <div>
        <span class="title-perfil">Registro de Materia</span>
        <span class="subtitle-header">Agrega una nueva materia al sistema</span>
      </div>
      <!-- Botón regresar compartido -->
      <div class="actions-row">
        <button mat-icon-button class="back-btn" (click)="goBack()">
          <mat-icon class="back-icon">arrow_back</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="body-materia">
    <div class="form-shell">
      <app-registro-materias></app-registro-materias>
    </div>
  </div>

</div>

